PORT=8000
CORS_ALLOW_ORIGINS=*
CORS_ALLOW_ORIGINS_WS=*
IS_SSR=true

SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
API_VER=admin/api/2023-01
EMAIL=hmtahirs1@gmail.com

HOST=https://904f-119-30-85-165.ngrok-free.app
APP_NAME=Shipping Cost Calculator

APP_PATH=devcsr

WEBHOOKS=app/uninstalled
SCOPES=write_shipping,read_shipping

ACCESS_SECRET=acecss
REFRESH_SECRET=refresh
JWT_EXPIRED=1d
JWT_REFRESH_EXPIRED=7d

MAILER_USER=hmtahirs1@gmail.com
MAILER_PASS=
SENDGRID_API_KEY=SG.m11nbIQIRV2Fgnt_T828AEA.aa_IAMS1AO9mtMrhHL7PGzSI1QlAV8W9UoIF8ouD8eh_isr