.logicsarcade {
    color: black;
    text-decoration: none;
}

.logicsarcade:hover {
    text-decoration: underline;
}

.no-shadow-card .Polaris-ShadowBevel {
    --pc-shadow-bevel-content-xs: none !important;
}

.combobox .Polaris-Labelled__Error {
    display: none !important;
}

.range-actions {
    max-width: 125px;
}

.social-icon .Polaris-Thumbnail:after {
    box-shadow: none !important;
}

.zone-name {
    text-decoration: none;
    color: black;
}

.zone-card-header {
    height: 100px;
    margin-bottom: 10px;
}

.country-list .Polaris-InlineStack {
    overflow: hidden;
    overflow-y: auto;
    max-height: 72px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-bottom: 0.125rem;
}

.country-list .Polaris-InlineStack::-webkit-scrollbar {
    display: none;
}

.zone-price {
    margin-top: 5px;
}

#status-badge {
    cursor: pointer;
}

#status-badge .Polaris-Badge__Pip {
    margin: 0 !important;
    display: none;
}

#status-badge .Polaris-Badge {
    padding: 1px !important;
}

.Polaris-DescriptionList__Term {
    padding-right: 0 !important;
}